@use 'sass:math';

@use '../../src/styles/theme';
@use '../../src/styles//variables' as vars;

@mixin theme($overrides: ()) {
    :root {
        $text-config: (
        );

        $final-config: map-merge($text-config, $overrides);
        @include theme.def('text', $final-config);
    }

    ngxb-text {
        display: flex;
        flex-direction: column;
        position: relative;

        &.with-button {
            input {
                padding-right: vars.$core-size * 2.5;
            }

            button {
                bottom: math.div(vars.$core-size, 8);
                height: calc((vars.$core-size * 2) - math.div(vars.$core-size, 4));
                position: absolute;
                right: math.div(vars.$core-size, 8);
            }
        }

        label {
            margin-bottom: math.div(vars.$core-size, 4);
        }

        input {
            border-radius: math.div(vars.$core-size, 4);
            border-style: solid;
            border-width: math.div(vars.$core-size, 8);
            box-sizing: border-box;
            font-size: vars.$font-size;
            height: vars.$core-size * 2;
            overflow: hidden !important;
            padding-block: math.div(vars.$core-size, 4);
            padding-inline: math.div(vars.$core-size, 2);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
