@use 'sass:math';

@use '../../src/styles/theme';
@use '../../src/styles//variables' as vars;

@mixin theme($overrides: ()) {
    :root {
        $text-config: (
            'color-background': var(--ngxb-color-background),
            'color-border': var(--ngxb-color-on-background),
            'color-disabled': var(--ngxb-color-disabled)
        );

        $final-config: map-merge($text-config, $overrides);
        @include theme.def('text', $final-config);
    }

    ngxb-text {
        display: flex;
        flex-direction: column;
        position: relative;

        &.disabled {
            cursor: not-allowed;

            label {
                color: var(--ngxb-text-color-disabled);
                cursor: not-allowed;
            }

            input {
                cursor: not-allowed;
                opacity: .5;
            }

            &.with-button button:disabled {
                background-color: transparent;
                border-color: transparent;
                color: var(--ngxb-text-color-disabled);
            }
        }

        &.with-button {
            input {
                padding-inline-end: vars.$core-size * 2.5;
            }

            button {
                bottom: math.div(vars.$core-size, 8);
                height: calc((vars.$core-size * 2) - math.div(vars.$core-size, 4));
                position: absolute;
                right: math.div(vars.$core-size, 8);
            }
        }

        label {
            padding-bottom: math.div(vars.$core-size, 4);
        }

        input {
            background-color: var(--ngxb-text-color-background);
            border-color: var(--ngxb-text-color-border);
            border-radius: math.div(vars.$core-size, 4);
            border-style: solid;
            border-width: math.div(vars.$core-size, 8);
            box-sizing: border-box;
            font-family: inherit;
            font-size: vars.$font-size;
            height: vars.$core-size * 2;
            overflow: hidden !important;
            padding-block: math.div(vars.$core-size, 4);
            padding-inline: math.div(vars.$core-size, 2);
            text-overflow: ellipsis;
            white-space: nowrap;

            &::placeholder {
                color: var(--ngxb-color-placeholder);
                font-style: italic;
            }

            &:focus-visible {
                outline-color: var(--ngxb-color-focus-outline);
                outline-offset: math.div(vars.$core-size, -8);
                outline-style: solid;
                outline-width: math.div(vars.$core-size, 8);
            }
        }
    }
}
