@if (label()) {
    <label [for]="inputId()">{{ label() }}</label>
}
<input
    type="text"
    tabindex="0"
    autocomplete="off"
    [id]="inputId()"
    [disabled]="disabled()"
    [placeholder]="placeholder()"
    [minLength]="minLength()"
    [maxLength]="maxLength()"
    [value]="value"
    (input)="onInput($event)"
/>
@if (buttonIcon()) {
    <button
        ngxbButton
        ngxbTooltip
        class="icon-button"
        [type]="buttonType"
        [disabled]="disabled()"
        [tooltipContent]="buttonTooltip()"
        [tooltipEnabled]="buttonTooltip() ? true : false"
        (click)="buttonClick.emit()"
    >
        <fa-icon [icon]="buttonIcon()"></fa-icon>
    </button>
}
