@use 'ngx-burst' as ngxb;

@include ngxb.theme();

@include ngxb.button-theme();
@include ngxb.dialog-theme();
@include ngxb.tooltip-theme();

html {
    font-family: sans-serif;
    height: 100%;
    scroll-behavior: smooth;

    body {
        height: 100%;
        margin: 0;
    }
}
