@use 'sass:math';

@use '../../src/styles/variables' as vars;

@mixin theme() {
    .ngxb-button {
        background-color: var(--ngxb-color-primary);
        border: none;
        border-radius: math.div(vars.$core-size, 4);
        color: var(--ngxb-color-on-primary);
        padding: math.div(vars.$core-size, 2);

        &:disabled {
            background-color: var(--ngxb-color-disabled);
            color: var(--ngxb-color-on-disabled);
        }

        &:not(:disabled) {
            cursor: pointer;
        }
    }
}
