@use 'sass:string';

@use './variables' as vars;

$config: (
    'color-background': vars.$color-white,
    'color-on-background': vars.$color-black,
    'color-background-secondary': vars.$color-ivory,
    'color-on-background-secondary': vars.$color-slate,

    'color-primary': vars.$color-blue,
    'color-on-primary': vars.$color-white,
    'color-success': vars.$color-green,
    'color-on-success': vars.$color-white,
    'color-error': vars.$color-red,
    'color-on-error': vars.$color-white,
    'color-warning': vars.$color-gold,
    'color-on-warning': vars.$color-black,
    'color-disabled': vars.$color-gray-300,
    'color-on-disabled': vars.$color-gray-700,

    'font-family': vars.$font-family,
    'font-size': vars.$font-size
);

@mixin def($collection: '', $overrides: ()) {
    @if string.length($collection) > 0 {
        $collection: $collection + '-';
    }

    $theme: map-merge($config, $overrides);
    @each $property, $value in $theme {
        --ngxb-#{$collection}#{$property}: #{$value};
    }
}

// $bg-color-primary: var(--ngxb-background-color-primary);
// $bg-color-secondary: var(--ngxb-backgroundc-color-secondary);

// $color-primary: var(--ngxb-color-primary);
// $color-secondary: var(--ngxb-color-secondary);
// $color-success: var(--ngxb-color-success);
// $color-error: var(--ngxb-color-error);
// $color-warning: var(--ngxb-color-warning);

// $font-color-primary: var(--ngxb-font-color-primary);
// $font-color-secondary: var(--ngxb-font-color-secondary);
// $font-family: var(--ngxb-font-family);
// $font-size: var(--ngxb-font-size);
