<header class="container-fluid g-0 py-3">
    <div class="row g-0">
        <div class="col px-3">
            <h1>ngx-burst Showcase</h1>
        </div>
    </div>
</header>

<section id="accordion" class="container g-0">
    <h2 class="mb-3">Accordion</h2>
    <div class="mb-3">
        <ngxb-checkbox [(ngModel)]="accordionFullCollapsible">Full collapsible</ngxb-checkbox>
        <ngxb-checkbox class="ms-3" [(ngModel)]="accordionMultiExpandable">Multi expandable</ngxb-checkbox>
    </div>
    <div class="row g-0">
        <div class="col">
            <div ngxbAccordionGroup [fullCollapsible]="accordionFullCollapsible" [multiExpandable]="accordionMultiExpandable">
                <div ngxbAccordionHeader
                    #firstHeader="ngxbAccordionHeader"
                    contentId="first"
                    class="d-flex justify-content-between"
                >
                    <span>First</span>
                    <i class="fas"
                        [class.fa-minus]="firstHeader.contentExpanded()"
                        [class.fa-plus]="!firstHeader.contentExpanded()"
                    ></i>
                </div>
                <p ngxbAccordionContent contentId="first">
                    <span>First content</span>
                </p>
                <div ngxbAccordionHeader
                    #secondHeader="ngxbAccordionHeader"
                    contentId="second"
                    class="d-flex justify-content-between"
                >
                    <span>Second</span>
                    <i class="fas"
                        [class.fa-minus]="secondHeader.contentExpanded()"
                        [class.fa-plus]="!secondHeader.contentExpanded()"
                    ></i>
                </div>
                <p ngxbAccordionContent contentId="second">
                    <span>Second content</span>
                </p>
                <div ngxbAccordionHeader
                    #thirdHeader="ngxbAccordionHeader"
                    contentId="third"
                    class="d-flex justify-content-between"
                >
                    <span>Third</span>
                    <i class="fas"
                        [class.fa-minus]="thirdHeader.contentExpanded()"
                        [class.fa-plus]="!thirdHeader.contentExpanded()"
                    ></i>
                </div>
                <p ngxbAccordionContent contentId="third">
                    <span>Third content</span>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="button" class="container g-0">
    <h2 class="mb-3">Button</h2>
    <div class="row g-0">
        <div class="col">
            <button ngxbButton>Default</button>
            <button ngxbButton class="ms-3" [type]="ButtonType.primary">Primary</button>
            <button ngxbButton class="ms-3" [type]="ButtonType.subtle">Subtle</button>
            <button ngxbButton class="ms-3" [type]="ButtonType.positive">Positive</button>
            <button ngxbButton class="ms-3" [type]="ButtonType.negative">Negative</button>
            <button ngxbButton class="ms-3" disabled>Disabled</button>
        </div>
    </div>
</section>

<section id="checkbox" class="container g-0">
    <h2 class="mb-3">Checkbox</h2>
    <div class="row g-0">
        <div class="col">
            <ngxb-checkbox>Default</ngxb-checkbox>
            <ngxb-checkbox class="ms-3" [disabled]="true">Disabled unchecked</ngxb-checkbox>
            <ngxb-checkbox class="ms-3" [disabled]="true" [(ngModel)]="checkboxDisabledValue">Disabled checked</ngxb-checkbox>
        </div>
    </div>
</section>

<section id="dialog" class="container g-0">
    <h2 class="mb-3">Dialog</h2>
    <div class="row g-0">
        <div class="col-auto d-flex">
            <button ngxbButton (click)="openDialog()">Open dialog</button>
            <ngxb-select class="ms-3" style="min-width: 300px" inputId="choose-dialog-size" placeholder="Choose a size" [options]="dialogSizeOptions" [(ngModel)]="dialogSize"></ngxb-select>
        </div>
    </div>
</section>

<section id="menu" class="container g-0">
    <h2 class="mb-3">Menu</h2>
    <div class="row g-0">
        <div class="col">
            <button ngxbButton ngxbMenu>
                <span>Basic menu</span>
                <ng-template #menuContent>
                    <div ngxbMenuContent>
                        <div ngxbMenuItem>Menu item one</div>
                        <div ngxbMenuItem>Menu item two</div>
                        <div ngxbMenuItem>Menu item three</div>
                    </div>
                </ng-template>
            </button>
            <button ngxbButton ngxbMenu class="ms-3">
                <span>Disabled item</span>
                <ng-template #menuContent>
                    <div ngxbMenuContent>
                        <div ngxbMenuItem>Menu item one</div>
                        <div ngxbMenuItem [disabled]="true">Menu item two</div>
                        <div ngxbMenuItem>Menu item three</div>
                    </div>
                </ng-template>
            </button>
        </div>
    </div>
    <div class="row g-0 mt-3">
        <div class="col-auto d-flex">
            <button ngxbButton ngxbMenu [menuPosition]="menuPosition">
                <span>Positioned menu</span>
                <ng-template #menuContent>
                    <div ngxbMenuContent>
                        <div ngxbMenuItem>Menu item one</div>
                        <div ngxbMenuItem>Menu item two</div>
                        <div ngxbMenuItem>Menu item three</div>
                    </div>
                </ng-template>
            </button>
            <ngxb-select class="ms-3" style="min-width: 300px" inputId="choose-menu-position" placeholder="Choose a position" [options]="menuPositionOptions" [(ngModel)]="menuPosition"></ngxb-select>
        </div>
    </div>
    <div class="row g-0 mt-3">
        <div class="col-auto d-flex">
            <button ngxbButton ngxbMenu [menuWidth]="menuWidth">
                <span>Sized menu</span>
                <ng-template #menuContent>
                    <div ngxbMenuContent>
                        <div ngxbMenuItem>Menu item one</div>
                        <div ngxbMenuItem>Menu item two</div>
                        <div ngxbMenuItem>Menu item three</div>
                    </div>
                </ng-template>
            </button>
            <ngxb-select class="ms-3" style="min-width: 300px" inputId="choose-menu-width" placeholder="Choose a width" [options]="menuWidthOptions" [(ngModel)]="menuWidth"></ngxb-select>
        </div>
    </div>
</section>

<section id="radio" class="container g-0">
    <h2 class="mb-3">Radio</h2>
    <div class="row g-0">
        <div class="col">
            <ngxb-radio-group name="basic-radio-group" [options]="radioOptions"></ngxb-radio-group>
            <ngxb-radio-group class="mt-3" name="labeled-radio-group" label="Label goes here" [options]="radioOptions"></ngxb-radio-group>
            <ngxb-radio-group class="mt-3" name="disabled-radio-group" label="Disabled" [options]="radioOptions" [disabled]="true" [(ngModel)]="radioDisabledValue"></ngxb-radio-group>
            <ngxb-radio-group class="mt-3" name="vertical-radio-group" label="Vertical" [options]="radioOptions" [vertical]="true"></ngxb-radio-group>
        </div>
    </div>
</section>

<section id="select" class="container g-0">
    <h2 class="mb-3">Select</h2>
    <div class="row g-0">
        <div class="col">
            <ngxb-select inputId="select-basic" [options]="selectOptions"></ngxb-select>
            <ngxb-select class="mt-3" inputId="select-with-label-and-placeholder" label="Label goes here" placeholder="This is the placeholder" [options]="selectOptions"></ngxb-select>
            <ngxb-select class="mt-3" inputId="select-disabled" label="Disabled" [options]="selectOptions" [disabled]="true" [(ngModel)]="selectDisabledValue"></ngxb-select>
        </div>
    </div>
</section>

<section id="text" class="container g-0">
    <h2 class="mb-3">Text</h2>
    <div class="row g-0">
        <div class="col">
            <ngxb-text inputId="text-basic"></ngxb-text>
            <ngxb-text class="mt-3" inputId="text-with-label-placeholder" label="Label goes here" placeholder="This is the placeholder"></ngxb-text>
            <ngxb-text class="mt-3" inputId="text-with-icon-button" label="Button after input" [maxLength]="1000" [buttonIcon]="['fas', 'triangle-exclamation']" (buttonClick)="alert('Button clicked!')"></ngxb-text>
            <ngxb-text class="mt-3" inputId="text-disabled" label="Disabled" [disabled]="true" [buttonIcon]="['fas', 'triangle-exclamation']" [(ngModel)]="textValue" (buttonClick)="alert('This should not happen')"></ngxb-text>
        </div>
    </div>
</section>

<section id="toggle" class="container g-0">
    <h2 class="mb-3">Toggle</h2>
    <div class="row g-0">
        <div class="col">
            <ngxb-toggle label="Default"></ngxb-toggle>
            <ngxb-toggle class="mt-3" label="Disabled" [disabled]="true"></ngxb-toggle>
            <ngxb-toggle class="mt-3" label="With description" description="This is a more detailed description explaining what the toggle controls"></ngxb-toggle>
            <ngxb-toggle class="mt-3" label="With description in tooltip" description="This is a more detailed description explaining what the toggle controls, but inside a tooltip" [descriptionAsTooltip]="true"></ngxb-toggle>
        </div>
    </div>
</section>

<section id="tooltip" class="container g-0">
    <h2 class="mb-3">Tooltip</h2>
    <h3 class="mb-2">Directions</h3>
    <div class="row mb-3">
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'Tooltip on top'">Top</div>
        </div>
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'Tooltip on right'" [tooltipPosition]="TooltipPosition.right">Right</div>
        </div>
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'Tooltip on bottom'" [tooltipPosition]="TooltipPosition.bottom">Bottom</div>
        </div>
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'Tooltip on left'" [tooltipPosition]="TooltipPosition.left">Left</div>
        </div>
    </div>
    <h3 class="mb-2">Features</h3>
    <div class="row">
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'Gotta go fast'" [tooltipDelay]="0">No delay</div>
        </div>
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'Feeling lazy'" [tooltipDelay]="3000">3 second delay</div>
        </div>
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'Can you see me now?'" [tooltipEnabled]="tooltipEnabled">Enabled/Disabled</div>
            <ngxb-checkbox class="mt-2" [(ngModel)]="tooltipEnabled">Enabled</ngxb-checkbox>
        </div>
        <div class="col-auto text-center">
            <div ngxbTooltip [tooltipContent]="'TODO'">Rich content</div>
        </div>
    </div>
</section>
