@use 'sass:math';

@use '@austinkurtti/ngx-burst' as ngxb;

header {
    background-color: ngxb.$color-ivory;
}

section {
    padding-top: ngxb.$core-size * 2;
    padding-bottom: ngxb.$core-size * 2;

    &:first-of-type {
        padding-top: ngxb.$core-size * 4;
    }

    &:last-of-type {
        padding-bottom: ngxb.$core-size * 4;
    }

    &#tooltip {
        div[ngxbtooltip] {
            border: 1px solid ngxb.$color-black;
            border-radius: math.div(ngxb.$core-size, 4);
            padding: ngxb.$core-size;
        }
    }
}
