@use 'sass:math';

@use 'ngx-burst' as ngxb;

h1, h2, h3, h4, h5 {
    margin: 0;
}

header {
    background-color: ngxb.$color-ivory;
}

section {
    &#buttons {
        button:not(:first-child) {
            margin-left: ngxb.$core-size;
        }
    }

    &#tooltips {
        span {
            border: 1px solid ngxb.$color-black;
            border-radius: math.div(ngxb.$core-size, 4);
            padding: ngxb.$core-size;
        }
    }
}
