@use 'sass:math';

@use '../../src/styles/theme';
@use '../../src/styles//variables' as vars;

@mixin theme($overrides: ()) {
    :root {
        $radio-config: (
            'color-unchecked': var(--ngxb-color-on-background),
            'color-unchecked-disabled': var(--ngxb-color-disabled),
            'color-checked': var(--ngxb-color-primary),
            'color-checked-disabled': var(--ngxb-color-disabled)
        );

        $final-config: map-merge($radio-config, $overrides);
        @include theme.def('radio', $final-config);
    }

    ngxb-radio-group {
        display: block;

        &.vertical .options {
            flex-direction: column;

            label:not(:first-child) {
                margin-top: vars.$core-size;
                margin-left: 0;
            }
        }

        legend {
            margin-bottom: math.div(vars.$core-size, 4);
            padding: 0;
        }

        .options {
            display: flex;

            label {
                cursor: pointer;

                &:not(:first-child) {
                    margin-left: vars.$core-size;
                }

                &.disabled {
                    cursor: not-allowed;
                    color:  var(--ngxb-radio-color-unchecked-disabled);

                    fa-icon {
                        color:  var(--ngxb-radio-color-unchecked-disabled);

                        &.checked {
                            color:  var(--ngxb-radio-color-checked-disabled);
                        }
                    }
                }

                fa-icon {
                    color:  var(--ngxb-radio-color-unchecked);
                    transition-duration: vars.$color-transition-duration;
                    transition-property: color;
                    transition-timing-function: vars.$transition-timing-function;

                    &.checked {
                        color:  var(--ngxb-radio-color-checked);
                    }
                }
            }

            input[type=radio] {
                height: 0;
                margin: 0;
                opacity: 0;
                position: absolute;
                width: 0;
            }
        }
    }
}
