@use 'sass:math';

@use '../../src/styles/theme';
@use '../../src/styles/variables' as vars;

@mixin theme($overrides: ()) {
    :root {
        $checkbox-config: (
            'color-unchecked': var(--ngxb-color-on-background),
            'color-unchecked-disabled': var(--ngxb-color-disabled),
            'color-checked': var(--ngxb-color-primary),
            'color-checked-disabled': var(--ngxb-color-disabled)
        );

        $final-config: map-merge($checkbox-config, $overrides);
        @include theme.def('checkbox', $final-config);
    }

    .ngxb-checkbox {
        display: inline-block;
        padding-inline-end: math.div(vars.$core-size, 4);
        position: relative;

        &:not(.disabled) {
            cursor: pointer;

            input[type=checkbox] {
                cursor: pointer;
            }
        }

        &.disabled {
            color: var(--ngxb-checkbox-color-unchecked-disabled);
            cursor: not-allowed;

            input[type=checkbox] {
                cursor: not-allowed;
            }

            fa-icon {
                color: var(--ngxb-checkbox-color-unchecked-disabled);

                &.checked {
                    color: var(--ngxb-checkbox-color-checked-disabled);
                }
            }
        }

        &:focus-visible {
            border-radius: math.div(vars.$core-size, 8);
            outline-color: var(--ngxb-color-focus-outline);
            outline-offset: math.div(vars.$core-size, 8);
            outline-style: solid;
            outline-width: math.div(vars.$core-size, 8);
        }

        input[type=checkbox] {
            height: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 0;
        }

        fa-icon {
            color: var(--ngxb-checkbox-color-unchecked);
            display: inline-block;
            transition-duration: vars.$color-transition-duration;
            transition-property: color;
            transition-timing-function: vars.$transition-timing-function;

            &.checked {
                color: var(--ngxb-checkbox-color-checked);
            }
        }

        span {
            margin-left: math.div(vars.$core-size, 8);
        }
    }
}
