@use 'sass:math';

@use '../../src/styles/theme';
@use '../../src/styles/variables' as vars;

@mixin theme($overrides: ()) {
    :root {
        $checkbox-config: (
            'color-unchecked': var(--ngxb-color-on-background),
            'color-unchecked-disabled': var(--ngxb-color-disabled),
            'color-checked': var(--ngxb-color-primary),
            'color-checked-disabled': var(--ngxb-color-disabled)
        );

        $final-config: map-merge($checkbox-config, $overrides);
        @include theme.def('checkbox', $final-config);
    }

    .ngxb-checkbox {
        display: inline-block;
        position: relative;

        &:not(.disabled) {
            cursor: pointer;

            input[type=checkbox] {
                cursor: pointer;
            }
        }

        &.disabled {
            color: var(--ngxb-checkbox-color-unchecked-disabled);
            cursor: not-allowed;

            input[type=checkbox] {
                cursor: not-allowed;
            }

            fa-icon.unchecked {
                color: var(--ngxb-checkbox-color-unchecked-disabled);
            }

            fa-icon.checked {
                color: var(--ngxb-checkbox-color-checked-disabled);
            }
        }

        input[type=checkbox] {
            height: 100%;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 100%;
        }

        fa-icon {
            display: inline-block;

            &.unchecked {
                color: var(--ngxb-checkbox-color-unchecked);
            }

            &.checked {
                color: var(--ngxb-checkbox-color-checked);
            }
        }

        span {
            margin-left: math.div(vars.$core-size, 8);
        }
    }
}
