@use 'sass:math';

@use '../../src/styles/theme';
@use '../../src/styles/variables' as vars;

@mixin theme() {
    :root {
        @include theme.def('tooltip', (
            'background-color-primary': vars.$color-black,
            'font-color-primary': vars.$color-white,
            'z-index': 100000
        ));
    }

    #ngxb-tooltip-container {
        height: 100vh;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: var(--ngxb-tooltip-z-index);

        .ngxb-tooltip {
            background-color: var(--ngxb-tooltip-background-color-primary);
            border-radius: math.div(vars.$core-size, 4);
            color: var(--ngxb-tooltip-font-color-primary);
            min-width: vars.$core-size;
            padding: vars.$core-size;
            position: absolute;

            // For tooltip arrow
            &:after {
                border-style: solid;
                border-width: vars.$core-size;
                content: "";
                position: absolute;
            }

            &.top:after {
                border-color: var(--ngxb-tooltip-background-color-primary) transparent transparent transparent;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
            }

            &.right:after {
                border-color: transparent var(--ngxb-tooltip-background-color-primary) transparent transparent;
                left: -(vars.$core-size * 2);
                top: 50%;
                transform: translateY(-50%);
            }

            &.bottom:after {
                border-color: transparent transparent var(--ngxb-tooltip-background-color-primary) transparent;
                left: 50%;
                top: -50%;
                transform: translateX(-50%);
            }

            &.left:after {
                border-color: transparent transparent transparent var(--ngxb-tooltip-background-color-primary);
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        @media (min-width: 0px) {
            .ngxb-tooltip {
                max-width: 35%;
            }
        }

        @media (min-width: vars.$breakpoint-md) {
            .ngxb-tooltip {
                max-width: 25%;
            }
        }

        @media (min-width: vars.$breakpoint-lg) {
            .ngxb-tooltip {
                max-width: 15%;
            }
        }
    }
}
